.contactForm {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 36px;
	gap: 5px;
	background: var(--blue);
	border-radius: 16px;
	width: 40%;
}
.contactForm h1 {
	color: var(--white);
	margin: 5px 0px 20px 0px;
}
.contactForm label {
	color: var(--white);
	font-weight: 600;
}
.contactForm input,
.contactForm textarea {
	padding: 8px;
	border: none;
	border-radius: 8px;
	resize: none;
}
.contactForm input:focus,
.contactForm textarea:focus {
	outline: none;
}
#sendContact {
	align-self: flex-end;
	background-color: var(--green);
	border: none;
	border-radius: 8px;
	color: var(--blue);
	cursor: pointer;
	font-size: 20px;
	font-weight: 600;
	margin-top: 15px;
	padding: 5px 15px;
	width: fit-content;
}
.errorContact {
	color: #d62828 !important;
	font-size: 9px;
	margin-bottom: 10px;
	margin-left: 13px;
}
.disabledBtnContact {
	background: #83c0624b !important;
	cursor: not-allowed !important;
}
@media (max-width: 600px) {
	.contactForm {
		width: 80%;
	}
}
