/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #000000; /* Fallback color */
	background-color: #00000066; /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
	background-color: #fefefe;
	margin: 5% auto; /* 15% from the top and centered */
	padding: 20px;
	border: none;
	width: 80%; /* Could be more or less, depending on screen size */
	border-radius: 10px;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

#contact:hover {
	cursor: pointer;
}

.gameOver h2 {
	text-align: center;
	font-size: 40px;
	color: var(--red);
}
.wordsPlayed h3 {
	text-align: center;
	font-size: 32px;
	margin-top: 70px;
}
.infoGameOver {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.error {
	color: var(--red);
	margin: 35px auto;
	width: fit-content;
}
.greenPoints {
	background-color: var(--green);
}
.redPoints {
	background-color: var(--red);
}
.finishPoints,
.finishName {
	font-size: 26px;
}
