/* navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 50px;
	padding: 0px 20px;
	margin: 0px 0px 20px 0px;
}
.contact,
.mail {
	font-size: 35px !important;
	color: var(--black);
}
.contact {
	margin-right: 10px;
}
.github {
	max-width: 35px;
}
.title {
	color: var(--black);
	font-size: 30px;
	font-weight: 700;
}

.navbar a {
	color: var(--black);
	text-decoration: none;
}
