/* start page */
#formStartGame {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: min-content;
	margin: 70px auto;
	border-radius: 15px;
	padding: 15px 25px;
	background-color: var(--button-color);
	box-shadow: 5px 5px 5px 0px #0000000d;
	gap: 26px;
	color: var(--background);
	font-size: 20px;
}
.input {
	height: 28px;
	margin: 0px 0px 0px 0px;
	padding: 5px;
	border: none;
	border-radius: 8px;
	background-color: var(--background);
	color: var(--blue);
	font-size: 20px;
	font-weight: 500;
}
.input:focus {
	outline: none;
}
.divInputName,
.divInputTime,
.contactDiv {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	gap: 5px;
}
.divInputName label,
.divInputTime label {
	font-size: 15px;
	font-weight: 700;
}
.btnStartGame {
	display: inline-block;
	align-self: flex-end;
	padding: 5px 15px;
	border: none;
	border-radius: 8px;
	background-color: var(--green);
	color: var(--blue);
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	width: fit-content;
}
.disabledBtn {
	background-color: #83c0624b;
	cursor: not-allowed;
}
#errorUsernameStart {
	margin-left: 13px;
	color: var(--red);
	font-size: 9px;
}
#selectTime {
	padding: 3px 4px;
	margin-right: 5px;
	border: none;
	border-radius: 8px;
	background: var(--background);
	color: var(--blue);
	font-weight: 600;
}
#selectTime option {
	font-weight: 600;
}
#selectTime:focus {
	outline: none;
}
#selectTime option:focus {
	outline: none;
}
/* cambiar el back del option  seleccionado */
#selectTime option:checked {
	background: var(--blue);
	color: var(--background);
}
/* cambiar el color del fondo del option al seleccionar el select que por defecto es celeste  */
#selectTime option:hover {
	background: var(--blue);
	color: var(--background);
}
